<!DOCTYPE html>
    <html>
    <head>
    <style>

            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .top {
                position: absolute;
                top: 0;
                width: 100%;
            }
    </style>
    </head>
 <body>

    <div class="top center">

        <AuthorizeView Roles="Administrador">
            <Authorized Context="AuthenticationState">
                <h2>BIENVENIDO ADMINISTRADOR</h2>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Usuario">
            <Authorized Context="AuthenticationState">
                <h2>BIENVENIDO USUARIO</h2>
            </Authorized>
        </AuthorizeView>
    </div>

</body>
</html>
