<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <b><h2>BIENVENIDO ADMINISTRADOR</h2></b>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <b><h2>BIENVENIDO USUARIO</h2></b>
    </Authorized>
</AuthorizeView>
   
