@page "/Servicio/Nuevo"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h3>Nuevo Servicio</h3>

        <EditForm Model="@prod">
            <DataAnnotationsValidator />

            <div class="form-group row">
                <label for="Codigo" class="col-sm-2 col-form-label">
                    Código Servicio
                </label>
                <div class="col-sm-10">
                    <InputText id="Codigo" class="form-control" @bind-Value="prod.CodigoServicio" style="width: 150px" />
                    <ValidationMessage For="@(() => prod.CodigoServicio)" />
                    <p> </p>
                </div>
            </div>

            

            <div class="form-group row">
                <label for="Descripcion" class="col-sm-2 col-form-label">
                    Descripción
                </label>
                <div class="col-sm-10">
                    <InputText id="Descripcion" class="form-control" @bind-Value="prod.Descripcion" style="width: 700px" />
                    <ValidationMessage For="@(() => prod.Descripcion)" />
                </div>
                <p> </p>
            </div>

            <div class="form-group row">
                <label for="Duracion" class="col-sm-2 col-form-label">
                    Duracion
                    </label>
                    <div class="col-sm-10">
                    <RadzenDatePicker id="Fecha"  DateFormat="t" @bind-Value="prod.Duracion" />
                    <p> </p>
                 </div>
            </div>

            <div class="form-group row">
                <label for="Codigo" class="col-sm-2 col-form-label">
                    Código Usuario
                </label>
                <div class="col-sm-10">
                    <InputText id="Codigo" class="form-control" @bind-Value="prod.CodigoUsuario" style="width: 150px" />
                    <ValidationMessage For="@(() => prod.CodigoUsuario)" />
                    <p> </p>
                </div>
            </div>

            <div class="form-group row">
                <label for="Precio" class="col-sm-2 col-form-label">
                    Precio
                </label>
                <div class="col-sm-10">
                    <InputNumber id="Precio" class="form-control" @bind-Value="prod.Precio" style="width: 150px" />
                </div>
                <p> </p>
            </div>


            <div class="form-group row">
                <label for="EstaActivo" class="col-sm-2 col-form-label">
                    Esta Activo
                </label>
                <div class="col-sm-10">
                    <InputCheckbox @bind-Value="prod.EstadoActivo" />
                </div>
                <p> </p>
            </div>

            <div class="form-group row">
                <label for="Disponibilidad" class="col-sm-2 col-form-label">
                    Disponibilidad
                </label>
                <div class="col-sm-10">
                    <RadzenDatePicker id="Fecha"  DateFormat="d" @bind-Value="prod.Disponibilidad"  />
                    <p> </p>
                </div>
            </div>



            <div class="form-group row">
                <p>
                    <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar" />
                    <input type="submit" class="btn btn-danger" value="Cancelar" @onclick="Cancelar" />
                </p>
            </div>


        </EditForm>

    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>
