@page "/Cliente/Nuevo"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h3>Nuevo Cliente</h3>

        <EditForm Model="@clie">
            <DataAnnotationsValidator />

            <div class="form-group row">
                <label for="IdentidadCliente" class="col-sm-2 col-form-label">
                    Identidad Cliente
                </label>
                <div class="col-sm-10">
                    <InputNumber id="IdentidadCliente" class="form-control" @bind-Value="clie.IdentidadCliente" />
                </div>
            </div>

            <div class="form-group row">
                <label for="Nombre" class="col-sm-2 col-form-label">
                    Nombre
                </label>
                <div class="col-sm-10">
                    <InputText id="Nombre" class="form-control" @bind-Value="clie.Nombre" />
                    <ValidationMessage For="@(() => clie.Nombre)" />
                </div>
            </div>

            <div class="col-sm-2">
                <b>Fecha:</b>
                <RadzenDatePicker id="Fecha" class="w-100" DateFormat="d" @bind-Value="clie.FechaNacimiento" />
            </div>


            <div class="form-group row">
                <label for="Telefono" class="col-sm-2 col-form-label">
                    Telefono
                </label>
                <div class="col-sm-10">
                    <InputNumber id="Telefono" class="form-control" @bind-Value="clie.Telefono" />
                </div>
            </div>

            <div class="form-group row">
                <label for="Correo" class="col-sm-2 col-form-label">
                    Correo
                </label>
                <div class="col-sm-10">
                    <InputText id="Correo" class="form-control" @bind-Value="clie.Correo" />
                    <ValidationMessage For="@(() => clie.Correo)" />
                </div>
            </div>

            <div class="form-group row">
                <label for="Direccion" class="col-sm-2 col-form-label">
                    Direccion
                </label>
                <div class="col-sm-10">
                    <InputText id="Direccion" class="form-control" @bind-Value="clie.Direccion" />
                    <ValidationMessage For="@(() => clie.Direccion)" />
                </div>
            </div>

            <div class="form-group row">
                <p>
                    <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar" />
                    <input type="submit" class="btn btn-danger" value="Cancelar" @onclick="Cancelar" />
                </p>
            </div>

            


        </EditForm>

    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>
